@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Tech Jockeys</h1>
    <p>This is our online custom computer shop built using ASP.NET Core in COMP2084, summer 2026 at Georgian College.</p>
</div>
